In [1]:
import pandas as pd

In [2]:
best = pd.read_csv('data/best_score.csv', index_col=0)
best.head()

    cell_id   cell_xcrd  cell_ycrd  overlap  person_cnt  best_score
0  86503006  127.165240  37.284084        3     255.975           5
1  86374994  127.160760  37.275060        2     174.924           5
2  83511270  127.059555  37.318443        3     162.099           5
3  85047108  127.113884  37.288887        1     156.700           5
4  84471258  127.093300  37.340195        3     150.741           5

# Best 5점

In [3]:
best_5 = best[best['best_score'] == 5]
best_5.head()

    cell_id   cell_xcrd  cell_ycrd  overlap  person_cnt  best_score
0  86503006  127.165240  37.284084        3     255.975           5
1  86374994  127.160760  37.275060        2     174.924           5
2  83511270  127.059555  37.318443        3     162.099           5
3  85047108  127.113884  37.288887        1     156.700           5
4  84471258  127.093300  37.340195        3     150.741           5

In [4]:
best_5 = best_5[['cell_id', 'cell_ycrd', 'cell_xcrd']]
best_5.head()

    cell_id  cell_ycrd   cell_xcrd
0  86503006  37.284084  127.165240
1  86374994  37.275060  127.160760
2  83511270  37.318443  127.059555
3  85047108  37.288887  127.113884
4  84471258  37.340195  127.093300

In [5]:
best_5_dict = best_5.set_index(['cell_id']).T.to_dict('list')
best_5_dict

{86503006: [37.284084, 127.16524],
 86374994: [37.27506, 127.16076],
 83511270: [37.318443, 127.059555],
 85047108: [37.288887, 127.113884],
 84471258: [37.340195, 127.0933],
 83943044: [37.22881, 127.075294],
 84567237: [37.333447, 127.09672],
 85159177: [37.32315, 127.11765],
 84087216: [37.310402, 127.07992],
 83895245: [37.31804, 127.073105],
 85111182: [37.324047, 127.11596],
 90902570: [37.211857, 127.32052],
 84311190: [37.305023, 127.087845],
 89910687: [37.236588, 127.285515],
 85159024: [37.254196, 127.118004],
 83895264: [37.326603, 127.07305],
 83895244: [37.31759, 127.073105],
 85191015: [37.251045, 127.11915],
 87942919: [37.28557, 127.215996],
 85943027: [37.277718, 127.14552],
 86582917: [37.246235, 127.16822],
 87286857: [37.23909, 127.193054],
 93254247: [37.13263, 127.40346],
 86295015: [37.28226, 127.15791],
 84663249: [37.34157, 127.10007],
 90694539: [37.192017, 127.31324],
 84583245: [37.337505, 127.09726],
 92854286: [37.138927, 127.38937],
 87478830: [37.232346, 127.199844],
 90742560: [37.202835, 127.3149],
 85319106: [37.295677, 127.123436],
 84679225: [37.331207, 127.100685],
 84119206: [37.3068, 127.08106],
 86039033: [37.283134, 127.14888],
 85575168: [37.33086, 127.13229],
 83527278: [37.3225, 127.0601],
 86614899: [37.239025, 127.16938],
 84023228: [37.314, 127.07764],
 86742894: [37.24039, 127.17388],
 90262644: [37.227146, 127.297935],
 84215205: [37.309067, 127.084435],
 84103226: [37.31536, 127.08045],
 84631234: [37.333904, 127.098976],
 86231005: [37.275944, 127.155685],
 84967166: [37.312763, 127.11094],
 84007226: [37.312645, 127.07708],
 84855100: [37.27985, 127.10716],
 83735216: [37.30044, 127.06756],
 83895219: [37.306324, 127.073166],
 86278991: [37.270992, 127.157394],
 84679091: [37.270813, 127.101006],
 86007003: [37.26871, 127.14782],
 83287316: [37.332832, 127.05157],
 87958884: [37.27025, 127.21661],
 84359252: [37.334324, 127.08938],
 83671250: [37.313957, 127.06522],
 85383095: [37.29253, 127.12571],
 87718729: [37.193607, 127.20845],
 83623269: [37.32116, 127.06349],
 85239096: [37.288906, 127.12065],
 83591253: [37.313046, 127.06241],
 83703250: [37.31486, 127.066345],
 84567214: [37.323082, 127.09678],
 90934480: [37.1722, 127.32174],
 85031189: [37.32494, 127.11313],
 84071038: [37.22973, 127.0798],
 86279010: [37.279556, 127.15736],
 91014535: [37.199245, 127.32449],
 84023198: [37.30048, 127.07771],
 84343258: [37.336575, 127.0888],
 83895153: [37.276577, 127.07333],
 87142750: [37.186794, 127.188194],
 85479055: [37.277218, 127.129166],
 84551216: [37.32353, 127.09621],
 88006801: [37.234196, 127.21844],
 84503096: [37.26809, 127.09481],
 84471195: [37.311802, 127.09345],
 85847046: [37.283566, 127.14211],
 84375196: [37.309536, 127.09008],
 83927060: [37.23557, 127.07469],
 84967187: [37.322227, 127.110886],
 84967125: [37.294285, 127.11103],
 85223097: [37.288906, 127.12009],
 87222855: [37.236378, 127.19081],
 85894736: [37.145206, 127.144455],
 86183052: [37.29577, 127.1539],
 84487253: [37.338394, 127.09387],
 84375245: [37.33162, 127.08996],
 84375197: [37.30999, 127.09007],
 84983131: [37.29744, 127.11158],
 84983120: [37.292484, 127.1116],
 84839108: [37.283, 127.106575],
 84055250: [37.32482, 127.078705],
 87606733: [37.192245, 127.20451],
 85431060: [37.27811, 127.12747],
 84599173: [37.305508, 127.098],
 84151234: [37.320328, 127.082115],
 89334699: [37.225735, 127.26525],
 84967202: [37.328987, 127.110855],
 85431116: [37.303352, 127.12735],
 89910685: [37.235687, 127.285515],
 83975238: [37.31715, 127.07593],
 83991226: [37.312195, 127.07652],
 82999397: [37.361187, 127.04124],
 85079026: [37.252834, 127.1152],
 83879240: [37.315334, 127.072556],
 88103055: [37.351383, 127.22139],
 88374801: [37.24459, 127.23137],
 87814875: [37.262123, 127.21157],
 85079200: [37.331253, 127.11479],
 85015175: [37.318176, 127.1126],
 84039254: [37.32617, 127.07813],
 88902964: [37.33297, 127.24968],
 84391184: [37.30458, 127.09067],
 84183215: [37.312668, 127.08329],
 84423221: [37.322163, 127.091705],
 85911051: [37.28763, 127.14435],
 90758544: [37.196075, 127.31549],
 85063175: [37.319534, 127.11429],
 84487218: [37.32262, 127.093956],
 87430903: [37.26389, 127.19803],
 84471251: [37.33704, 127.093315],
 84887114: [37.287064, 127.10825],
 86886851: [37.225082, 127.17902],
 88726964: [37.327995, 127.24349],
 87974810: [37.237347, 127.2173],
 83991199: [37.300026, 127.07659],
 85207013: [37.250595, 127.11971],
 86550918: [37.24578, 127.16709],
 88262855: [37.265766, 127.22735],
 85527053: [37.27767, 127.13086],
 85926978: [37.25518, 127.145065],
 87478837: [37.2355, 127.19984],
 83911060: [37.235115, 127.074135],
 85191008: [37.24789, 127.11916],
 85047204: [37.332153, 127.11366],
 87654896: [37.267067, 127.20591],
 87238863: [37.240437, 127.19136],
 84967140: [37.301044, 127.111],
 83671283: [37.328827, 127.06514],
 87206866: [37.240887, 127.19023],
 86167044: [37.29171, 127.15335],
 84999196: [37.327187, 127.11199],
 84423271: [37.344696, 127.09158],
 86215008: [37.276844, 127.15511],
 84231187: [37.301407, 127.085045],
 88518823: [37.258575, 127.2364],
 83847247: [37.317585, 127.07141],
 83815252: [37.31893, 127.070274],
 88326820: [37.251797, 127.22965],
 84151145: [37.280216, 127.08234],
 83911223: [37.30858, 127.07372],
 85207012: [37.250145, 127.11972],
 85575173: [37.33311, 127.13228],
 85959035: [37.281776, 127.146065],
 88086900: [37.281075, 127.221085],
 84663054: [37.253685, 127.10053],
 84039211: [37.306793, 127.07825],
 87542827: [37.232803, 127.2021],
 86695074: [37.32016, 127.171844],
 84455201: [37.314053, 127.09287],
 87462831: [37.232346, 127.19928],
 85159100: [37.28845, 127.11783],
 84935148: [37.303745, 127.109856],
 84567230: [37.33029, 127.09674],
 84343100: [37.265366, 127.08919],
 86823112: [37.340904, 127.17627],
 86006994: [37.264652, 127.14784],
 89718672: [37.224407, 127.278786],
 83735275: [37.327034, 127.067406],
 84119198: [37.303196, 127.081085],
 84087210: [37.307697, 127.07993],
 84247249: [37.329803, 127.08545],
 85399191: [37.336246, 127.12605],
 85207177: [37.32451, 127.11934],
 84183084: [37.253628, 127.08362],
 84375276: [37.345592, 127.08988],
 85287193: [37.33398, 127.122116],
 84775228: [37.335274, 127.10405],
 84471231: [37.328026, 127.09336],
 85607031: [37.27002, 127.13371],
 83879154: [37.276577, 127.07277],
 84999101: [37.284374, 127.11221],
 88982990: [37.346947, 127.25246],
 88182895: [37.281532, 127.22447],
 85447125: [37.30786, 127.12789],
 86502923: [37.246677, 127.1654],
 84183221: [37.315372, 127.083275],
 87958868: [37.263035, 127.216644],
 84103200: [37.303646, 127.08052],
 84711225: [37.33211, 127.10181],
 86951083: [37.33145, 127.180824],
 84887106: [37.28346, 127.10827],
 87542826: [37.232353, 127.2021],
 84103209: [37.3077, 127.0805],
 84215207: [37.309967, 127.084435],
 84951206: [37.330338, 127.11028],
 87478829: [37.231895, 127.19985],
 87942884: [37.269794, 127.21605],
 87958791: [37.228333, 127.216774],
 84327207: [37.313137, 127.08836],
 84743006: [37.234318, 127.10345],
 84855222: [37.334835, 127.10687],
 87206855: [37.235928, 127.19025],
 85718999: [37.258762, 127.13772],
 84823076: [37.268127, 127.106094],
 83943267: [37.329315, 127.07473],
 84167215: [37.312218, 127.082726],
 84871088: [37.274895, 127.10775],
 84551241: [37.334797, 127.096146],
 85367116: [37.30154, 127.1251],
 84007199: [37.30048, 127.07715],
 84391014: [37.227966, 127.09108],
 85958951: [37.243916, 127.14625],
 84055205: [37.30454, 127.07882],
 84855107: [37.283005, 127.10714],
 86310999: [37.2755, 127.1585],
 88982899: [37.30593, 127.252594],
 90262653: [37.2312, 127.29793],
 84375275: [37.345142, 127.08988],
 86039025: [37.27953, 127.148895],
 83671308: [37.340096, 127.06507],
 91062516: [37.192036, 127.3262],
 88950980: [37.341534, 127.25134],
 84695240: [37.33842, 127.10121],
 87942820: [37.24095, 127.21616],
 86103057: [37.29576, 127.15108],
 84487195: [37.312256, 127.09401],
 85767027: [37.27274, 127.13934],
 83783157: [37.27521, 127.0694],
 87462839: [37.23595, 127.19927],
 85287179: [37.32767, 127.12215],
 84375200: [37.31134, 127.090065],
 83799202: [37.295944, 127.06984],
 84951117: [37.290226, 127.11049],
 86550916: [37.244877, 127.1671],
 83975148: [37.27659, 127.07616],
 85063186: [37.324493, 127.114265],
 85255193: [37.333076, 127.120995],
 87318849: [37.23639, 127.19419],
 84407231: [37.326218, 127.09112],
 86726705: [37.154755, 127.17369],
 84823227: [37.33618, 127.105736],
 84535095: [37.268543, 127.09594],
 84039058: [37.237835, 127.07863],
 83591256: [37.314396, 127.0624],
 85527100: [37.298855, 127.13075],
 85447058: [37.277664, 127.12804],
 88854675: [37.201363, 127.24843],
 85494991: [37.248825, 127.129875],
 85750995: [37.257866, 127.13885],
 85399093: [37.29208, 127.126274],
 87798816: [37.235077, 127.21111],
 84855223: [37.335285, 127.10687],
 85239174: [37.324062, 127.120476],
 87942917: [37.284668, 127.215996],
 88918972: [37.337025, 127.25023],
 87942823: [37.242302, 127.216156],
 84967205: [37.33034, 127.11085],
 85015205: [37.331696, 127.11253],
 86854807: [37.204346, 127.177986],
 84071246: [37.32347, 127.07928],
 85079174: [37.319534, 127.11485],
 87702830: [37.238674, 127.20771],
 87046793: [37.20346, 127.184746],
 87910798: [37.23013, 127.21507],
 83783205: [37.296844, 127.069275],
 83527316: [37.339626, 127.06],
 84567254: [37.34111, 127.09668],
 84903091: [37.27715, 127.108864],
 84071202: [37.303642, 127.07939],
 84583204: [37.319027, 127.09736],
 87494833: [37.23415, 127.2004],
 84823224: [37.33483, 127.10574],
 87398838: [37.233692, 127.19702],
 84871098: [37.2794, 127.10773],
 87814868: [37.25897, 127.211586],
 84263226: [37.31989, 127.08607],
 86583005: [37.285896, 127.168045],
 83943145: [37.27433, 127.07504],
 86630714: [37.156097, 127.1703],
 83735272: [37.325684, 127.06741],
 83799275: [37.328846, 127.06966],
 87414849: [37.2391, 127.19756],
 86262979: [37.26513, 127.15686],
 86726716: [37.159714, 127.17367],
 86039026: [37.27998, 127.148895],
 91142614: [37.23846, 127.32891],
 85975064: [37.295296, 127.14657],
 83735264: [37.322075, 127.06744],
 84663252: [37.342922, 127.10006],
 86007025: [37.278625, 127.14777],
 85510782: [37.155083, 127.13089],
 88230827: [37.252243, 127.226265],
 86791114: [37.3409, 127.17514],
 84503219: [37.323524, 127.09451],
 87830892: [37.270237, 127.212105],
 84103198: [37.302742, 127.08052],
 83895235: [37.313534, 127.07313],
 86951110: [37.34362, 127.18078],
 88182881: [37.275223, 127.224495],
 83719261: [37.32027, 127.06688],
 86886744: [37.176857, 127.17923],
 83927194: [37.29596, 127.074356],
 86327011: [37.28136, 127.15904],
 87430837: [37.234146, 127.19815],
 85223189: [37.330368, 127.11988],
 85222958: [37.22626, 127.1204],
 84903090: [37.2767, 127.108864],
 86518881: [37.2282, 127.166046],
 85671024: [37.268673, 127.13598],
 85367006: [37.251965, 127.12534],
 87478890: [37.259388, 127.19974],
 83655215: [37.29773, 127.06476],
 83751250: [37.31622, 127.06803]}

In [6]:
hotel_best = pd.read_csv('res/숙박업소현황.csv', index_col=0)
hotel_best

         소재지명                             도로명         위도          경도  시설구분
0       오스카호텔        경기도 용인시 처인구 금령로90번길 3-10  37.235014  127.206837  숙박업소
1       호텔 M7           경기도 용인시 기흥구 갈천로7번길 51  37.270378  127.105043  숙박업소
2    (주)더숨디앤씨         경기도 용인시 처인구 포곡읍 성산로 633  37.286798  127.208289  숙박업소
3         양지장       경기도 용인시 처인구 양지면 양지로 142-5  37.234053  127.284065  숙박업소
4      레미니스호텔            경기도 용인시 기흥구 기흥단지로 53  37.225792  127.104464  숙박업소
..        ...                             ...        ...         ...   ...
199     기흥장여관        경기도 용인시 기흥구 삼성2로 233-14   37.222054  127.098360  숙박업소
200       에버힐     경기도 용인시 처인구 포곡읍 곡현로133번길 25  37.298714  127.220762  숙박업소
201      아도니스     경기도 용인시 처인구 포곡읍 곡현로133번길 33  37.298878  127.219849  숙박업소
202     대흥여인숙       경기도 용인시 기흥구 신갈로58번길 16-1   37.272126  127.107601  숙박업소
203     호텔스위스  경기도 용인시 처인구 포곡읍 곡현로117번길 6-26   37.298462  127.220456  숙박업소

[204 rows x 5 columns]

In [7]:
hotel_best = hotel_best[['소재지명', '위도', '경도']]
hotel_best

         소재지명         위도          경도
0       오스카호텔  37.235014  127.206837
1       호텔 M7  37.270378  127.105043
2    (주)더숨디앤씨  37.286798  127.208289
3         양지장  37.234053  127.284065
4      레미니스호텔  37.225792  127.104464
..        ...        ...         ...
199     기흥장여관  37.222054  127.098360
200       에버힐  37.298714  127.220762
201      아도니스  37.298878  127.219849
202     대흥여인숙  37.272126  127.107601
203     호텔스위스  37.298462  127.220456

[204 rows x 3 columns]

In [8]:
hotel_best_dict = hotel_best.set_index(['소재지명']).T.to_dict('list')
hotel_best_dict

C:\Users\시달이\AppData\Local\Temp\ipykernel_5452\2482150549.py:1: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  hotel_best_dict = hotel_best.set_index(['소재지명']).T.to_dict('list')

{'오스카호텔': [37.23501405, 127.2068373],
 '호텔 M7': [37.27037764, 127.1050427],
 '(주)더숨디앤씨': [37.2867977, 127.208289],
 '양지장': [37.23405329, 127.2840651],
 '레미니스호텔': [37.2256892, 127.1045505],
 '라고': [37.28857656, 127.0969489],
 '나인': [37.2082236, 127.3204226],
 '홈브리지캐빈호스텔': [37.28996008, 127.2165862],
 '코리아골프빌리지 대우그린카운티': [37.2209982, 127.1372749],
 '써닝텔': [37.14309933, 127.4202109],
 '호텔몬트': [37.28862028, 127.0965538],
 'J모텔': [37.23375028, 127.209762],
 '대호장': [37.27256173, 127.1058547],
 '호텔마리': [37.22892948, 127.2920046],
 '와우(WOW)': [37.2330534, 127.2017876],
 '호텔 문라이즈(Hotel Moonrise)': [37.32432513, 127.1021081],
 '호텔 컬리넌 용인': [37.2337702, 127.2094298],
 '자연파크': [37.28608641, 127.2175596],
 '발렌타인': [37.21724293, 127.2086982],
 '성산모텔': [37.23712663, 127.2081707],
 '큐 모텔': [37.27372597, 127.1090069],
 'Hotel 9 teen': [37.28898053, 127.0964616],
 '남사 룸앤텔': [37.11753686, 127.1609825],
 '신라장': [37.23483728, 127.2082584],
 '홀인원': [37.3259843, 127.1024966],
 'G모텔': [37.27333733, 127.1086931],
 '호텔 비엔': [37.22532257, 127.1041055],
 '삼흥여인숙': [37.23581265, 127.20901],
 '스튜디오9호텔': [37.23497117, 127.2079343],
 '골드훼미리콘도미니엄': [37.22101641, 127.1387432],
 '이화모텔': [37.2698613, 127.1069854],
 '백암파크': [37.15150775, 127.3850553],
 '메리엘': [37.28898385, 127.0969672],
 '골든튤립에버용인호텔': [37.2869629, 127.2167584],
 '산까치장': [37.2969303, 127.1179322],
 '제니스': [37.1461918, 127.2043203],
 '남양모텔': [37.27076341, 127.1018036],
 '호텔 에비뉴': [37.23244467, 127.2249319],
 '온천장': [37.2343957, 127.2839965],
 '낙원여인숙': [37.23735009, 127.2074032],
 '베네치아모텔': [37.22866851, 127.2922533],
 '경림장여관': [37.23453508, 127.2063431],
 '호텔야자 용인터미널지점': [37.23488285, 127.2084612],
 'Monterey17 Hotel': [37.25616233, 127.124344],
 '리 디자인 호텔': [37.27224181, 127.150353],
 '드림파크': [37.23576725, 127.2052335],
 '윈져캐슬관광호텔': [37.28919861, 127.0996307],
 '호텔오다(Hotel ODA)': [37.28935012, 127.0991222],
 '삼성모텔': [37.23493524, 127.1971835],
 '엠스테이호텔 경기기흥': [37.2373132, 127.073524],
 '대원여인숙': [37.2359977, 127.2082638],
 '동도씨앤디주식회사 용인이스키아호텔지점': [37.27177475, 127.1509192],
 'Vole(볼) 호텔': [37.3252634, 127.1025521],
 '휘닉스모텔': [37.23679539, 127.2090965],
 '호텔스테이': [37.23481058, 127.2120803],
 'T7 HOTEL': [37.23646165, 127.2090075],
 '알리앙스': [37.33177264, 127.247054],
 '필모텔': [37.2325502, 127.2009862],
 '소설스미스': [37.25580402, 127.1110843],
 '리젠드호텔': [37.32563246, 127.1022028],
 '그래이스모텔': [37.2871837, 127.1054338],
 'Q(큐)호텔': [37.2868472, 127.2159236],
 '리스텔': [37.22776837, 127.2929772],
 '리츠모텔': [37.28652763, 127.2173662],
 '로얄파크': [37.23385828, 127.209694],
 'SR 디자인 호텔': [37.23483313, 127.2065787],
 '수지스테이25': [37.32454332, 127.10266],
 '에버파크': [37.2854315, 127.2165624],
 '모텔클레식': [37.16908568, 127.376378],
 '미니여관': [37.23551343, 127.2046595],
 '한화호텔앤드리조트(주)용인': [37.13300951, 127.1410084],
 'IMT호텔': [37.32536228, 127.102272],
 '호텔베너': [37.23015301, 127.2906484],
 '샹그리아': [37.23349584, 127.2848446],
 '유토피아모텔': [37.32483111, 127.1024666],
 '힐(HILL)모텔': [37.18750773, 127.2059732],
 '자주모텔': [37.23702712, 127.2080245],
 '뉴스카이': [37.1327201, 127.4029399],
 '코리아골프빌리지 기흥아펠바움': [37.2169916, 127.1345751],
 '벨리노에스 호텔': [37.2971345, 127.1088068],
 'M모텔': [37.2737918, 127.1085275],
 '스카이호텔': [37.2712149, 127.1084337],
 '청실장': [37.27006256, 127.1078754],
 'STAY HOTEL': [37.22084645, 127.315314],
 '라데팡스': [37.14593882, 127.2040848],
 '마징가 모텔': [37.22221772, 127.0975615],
 '호텔카사': [37.22875749, 127.2915879],
 '얼레이호텔': [37.2884878, 127.0974965],
 '칼리야 모텔': [37.24360737, 127.1670371],
 '초콜릿': [37.23353422, 127.2098756],
 '그린장여관': [37.23417146, 127.1979569],
 '대성파크': [37.28559834, 127.2170087],
 '에이스호텔': [37.2685419, 127.1049125],
 '용인라마다호텔': [37.2865127, 127.2165429],
 '리스빌': [37.23486879, 127.2137824],
 '아미부띠끄호텔': [37.22554852, 127.1042847],
 '우리여인숙': [37.23693553, 127.207872],
 '아이에스모텔': [37.24688009, 127.2119668],
 '하이얀모텔': [37.25267117, 127.2174025],
 '선비파크': [37.26779792, 127.107233],
 '벨라지오': [37.32594029, 127.1026075],
 '썬스테이호텔': [37.23322074, 127.1998321],
 '골든파크': [37.23541357, 127.204378],
 '풍원장': [37.27211269, 127.1063533],
 '모텔쉬리': [37.22775519, 127.2711195],
 '아트인모텔': [37.2359082, 127.2079593],
 '호텔 탑': [37.2972366, 127.1083234],
 '신갈장': [37.27105451, 127.1052873],
 'G(지)호텔': [37.32529766, 127.1018208],
 '스위트호텔': [37.22505372, 127.2588747],
 '캐슬': [37.23160937, 127.2884461],
 '호텔주노': [37.24349041, 127.1671165],
 '금호장': [37.26976031, 127.1064333],
 '모텔모나코': [37.27925091, 127.2318096],
 '천일여관': [37.16531237, 127.3713156],
 '카멜레온': [37.2363511, 127.2080384],
 '유림장': [37.23490759, 127.2112006],
 '자자모텔': [37.2368808, 127.2082099],
 '호텔자유1': [37.17772839, 127.3442129],
 '영빈파크': [37.34253313, 127.2258834],
 '호텔자유2': [37.17769267, 127.3444721],
 '가즈아': [37.28899775, 127.0962246],
 '호텔172st': [37.3246397, 127.1018356],
 '라센트라': [37.22519204, 127.1562683],
 '힐탑여관': [37.1254306, 127.2073393],
 '용인여인숙': [37.23583446, 127.2068905],
 'NO25 용인터미널점': [37.2369937, 127.2090957],
 '파인관광호텔': [37.2191091, 127.0844982],
 '모현모텔': [37.33660294, 127.2507631],
 '행운모텔': [37.23681153, 127.2083298],
 '발리모텔': [37.2302503, 127.2900566],
 '귀빈장여관': [37.23475649, 127.208394],
 'W(더블유)모텔': [37.1681976, 127.376697],
 '아스트로호텔': [37.32415417, 127.1021993],
 '수산여인숙': [37.2371616, 127.2077309],
 '용인장여관': [37.23628675, 127.2075313],
 '알프스산장': [37.3255698, 127.1025525],
 'G7': [37.28609575, 127.217695],
 '엘레강스모텔': [37.2737919, 127.1083584],
 '양지파인리조트': [37.21148125, 127.2937317],
 '센츄럴': [37.2880661, 127.1061906],
 '쉐르나모텔': [37.14227128, 127.1939201],
 '메트로21': [37.32547786, 127.1017973],
 '용인센트럴코업호텔(yongincentral coophotel)': [37.23741438, 127.1799844],
 '카라반베이호텔': [37.28422354, 127.2188301],
 '(주)청송네트웍스(더트리니호텔)': [37.23730792, 127.1806162],
 '중앙모텔': [37.23689085, 127.2075966],
 '브라운도트 용인점': [37.23501745, 127.2082127],
 '성지네트웍스 더트리니호텔': [37.23730792, 127.1806162],
 '삼화여관': [37.2721584, 127.1065449],
 '김미화마을': [37.13244764, 127.3114534],
 '헤르메스호텔': [37.28630919, 127.216487],
 '호텔 헤르메스': [37.23707766, 127.2090444],
 '푸른여인숙': [37.2340498, 127.2837266],
 '모텔프라쟈하우스': [37.1175113, 127.160934],
 '아담장': [37.272576, 127.1101633],
 '모델파크': [37.2340767, 127.2093179],
 '덕창장': [37.2721789, 127.1085478],
 '제우스': [37.22124791, 127.103632],
 '더트리니호텔(THE TRINY HOTEL)': [37.23730792, 127.1806162],
 '산수파크': [37.1946116, 127.3261097],
 '쁘띠프랑스': [37.2987686, 127.220401],
 '민속장': [37.2666582, 127.1055751],
 '상상호텔1': [37.27097093, 127.1072616],
 '대성여인숙': [37.324039, 127.101332],
 '장원파크': [37.1648931, 127.3100297],
 '에덴하우스': [37.255351, 127.1147127],
 '파래스장': [37.2716555, 127.1094152],
 '스카이1': [37.328562, 127.1015184],
 '명동여인숙': [37.2863223, 127.2172302],
 '힐호텔': [37.32513458, 127.1015734],
 '파인힐': [37.3243464, 127.10008],
 '서울여관': [37.2345196, 127.2032339],
 '경기여인숙': [37.2357476, 127.2070123],
 '테마모텔': [37.3252634, 127.1025521],
 '스카이2': [37.3283461, 127.1011006],
 '게스트하우스포유': [37.2345196, 127.2032339],
 '상상호텔2': [37.27097093, 127.1072616],
 '신라파크모텔': [37.27092725, 127.1022765],
 '만인여관': [37.1652041, 127.3715821],
 '용천여인숙': [37.1943356, 127.2072612],
 '폴라리스': [37.2334433, 127.2003236],
 '영덕여인숙': [37.2683775, 127.0703347],
 '충북여인숙': [37.2360465, 127.2061228],
 '동일여인숙': [37.23689085, 127.2075966],
 '크리스탈': [37.2987962, 127.2200965],
 '창원여관': [37.2330268, 127.2015171],
 '리오모텔': [37.27286514, 127.1103761],
 '특실여인숙': [37.235721, 127.2067418],
 '제일여인숙': [37.2945428, 127.1177481],
 '홍실여인숙': [37.2830199, 127.2197918],
 '블루힐': [37.2869629, 127.2167584],
 '호텔.폴': [37.27106896, 127.1069227],
 '스카이모텔': [37.2337762, 127.1776853],
 '기흥장여관': [37.2220541, 127.0983599],
 '에버힐': [37.2987139, 127.2207617],
 '아도니스': [37.2988778, 127.2198486],
 '대흥여인숙': [37.2721257, 127.1076007],
 '호텔스위스': [37.2984622, 127.2204565]}

In [9]:
from haversine import haversine

In [10]:
df_all = pd.DataFrame(columns=["best_name", "hotel_name", "거리차이", "score"])

for i in range(0, len(best_5_dict)) :
    best_nm = list(best_5_dict.keys())[i]
    best_xy = list(best_5_dict.items())[i][1]

    for j in range(0, len(hotel_best_dict)) :
        hotel_best_nm = list(hotel_best_dict.keys())[j]
        hotel_best_xy = list(hotel_best_dict.items())[j][1]

        ## 최종 거리 계산 결과값
        result = haversine(best_xy, hotel_best_xy, unit='m')

        score = 0
        if result <= 200:
            score = 5
        elif 200 < result <= 400:
            score = 4
        elif 400 < result <= 600:
            score = 3
        elif 600 < result <= 800:
            score = 2
        elif 800 < result <= 1000:
            score = 1
        df_all = pd.concat([df_all, 
                        pd.DataFrame({'best_name':[best_nm],'hotel_name':[hotel_best_nm], '거리차이':[result], 'score':[score]})], ignore_index=True)
df_all

      best_name hotel_name          거리차이 score
0      86503006      오스카호텔   6582.105944     0
1      86503006      호텔 M7   5539.992542     0
2      86503006   (주)더숨디앤씨   3820.473952     0
3      86503006        양지장  11896.959648     0
4      86503006     레미니스호텔   8426.947806     0
...         ...        ...           ...   ...
62680  83751250      기흥장여관  10809.276175     0
62681  83751250        에버힐  13647.729738     0
62682  83751250       아도니스  13565.184916     0
62683  83751250      대흥여인숙   6024.362330     0
62684  83751250      호텔스위스  13625.063420     0

[62685 rows x 4 columns]

In [11]:
df_all_5 = df_all.groupby('hotel_name')['score'].sum()
df_all_5 = df_all_5.reset_index()
df_all_5 = df_all_5.rename(columns = {'score' : '5_score'})
df_all_5

            hotel_name 5_score
0             (주)더숨디앤씨       4
1    (주)청송네트웍스(더트리니호텔)       5
2               G(지)호텔      26
3                   G7      13
4                  G모텔      20
..                 ...     ...
194              홍실여인숙      15
195              휘닉스모텔      24
196          힐(HILL)모텔       5
197               힐탑여관       0
198                힐호텔      26

[199 rows x 2 columns]

# Best 4점

In [12]:
best_4 = best[best['best_score'] == 4]
best_4.head()

      cell_id   cell_xcrd  cell_ycrd  overlap  person_cnt  best_score
315  85094952  127.115920  37.219936        3      70.010           4
316  86694892  127.172200  37.238132        3      70.010           4
317  85895006  127.143880  37.266895        3      69.965           4
318  86278976  127.157425  37.264233        3      69.940           4
319  90086602  127.291800  37.203247        2      69.808           4

In [13]:
best_4 = best_4[['cell_id', 'cell_ycrd', 'cell_xcrd']]
best_4.head()

      cell_id  cell_ycrd   cell_xcrd
315  85094952  37.219936  127.115920
316  86694892  37.238132  127.172200
317  85895006  37.266895  127.143880
318  86278976  37.264233  127.157425
319  90086602  37.203247  127.291800

In [14]:
best_4_dict = best_4.set_index(['cell_id']).T.to_dict('list')
best_4_dict

{85094952: [37.219936, 127.11592],
 86694892: [37.238132, 127.1722],
 85895006: [37.266895, 127.14388],
 86278976: [37.264233, 127.157425],
 90086602: [37.203247, 127.2918],
 84823064: [37.26272, 127.10612],
 85063198: [37.3299, 127.114235],
 85799002: [37.26238, 127.14052],
 87654735: [37.194504, 127.20619],
 87366633: [37.140392, 127.196266],
 84231199: [37.306816, 127.085014],
 89830690: [37.235683, 127.2827],
 85079135: [37.30196, 127.114944],
 84839029: [37.2474, 127.106766],
 86630716: [37.157, 127.1703],
 86199043: [37.292168, 127.15448],
 88630884: [37.28923, 127.240234],
 87958894: [37.274754, 127.2166],
 84375215: [37.3181, 127.090034],
 84087042: [37.231983, 127.08035],
 92326377: [37.16505, 127.37075],
 83767089: [37.24411, 127.06901],
 83911145: [37.273426, 127.07392],
 85399096: [37.29343, 127.12627],
 87702789: [37.220196, 127.20779],
 89014710: [37.221653, 127.25399],
 86279020: [37.28406, 127.15734],
 91126510: [37.19114, 127.32845],
 87958812: [37.237797, 127.216736],
 85750998: [37.259216, 127.13884],
 85175115: [37.295662, 127.11836],
 85303102: [37.293423, 127.12289],
 84215201: [37.307262, 127.08445],
 84343074: [37.253647, 127.08926],
 90646623: [37.22852, 127.31146],
 86551002: [37.283638, 127.16693],
 84983035: [37.254173, 127.1118],
 85415122: [37.305603, 127.12677],
 85015021: [37.24877, 127.11296],
 84935093: [37.278957, 127.109985],
 82807429: [37.370174, 127.03441],
 84663218: [37.3276, 127.100136],
 88966936: [37.322155, 127.251976],
 88918960: [37.331615, 127.25025],
 88982970: [37.337933, 127.25249],
 85063106: [37.288437, 127.11445],
 85687023: [37.268677, 127.13654],
 85095032: [37.25599, 127.11574],
 87622733: [37.1927, 127.20507],
 85062958: [37.221733, 127.114784],
 84887197: [37.32447, 127.108055],
 87926859: [37.258076, 127.21553],
 84167228: [37.318073, 127.082695],
 85207175: [37.32361, 127.11935],
 83767275: [37.327938, 127.068535],
 87270852: [37.236385, 127.192505],
 83991040: [37.228367, 127.07699],
 84855159: [37.30644, 127.10702],
 83911268: [37.328857, 127.07361],
 86199025: [37.284054, 127.15452],
 87382931: [37.275154, 127.1963],
 84983034: [37.253723, 127.11181],
 84263201: [37.30862, 127.086136],
 84855200: [37.324917, 127.106926],
 84455262: [37.341545, 127.09273],
 85910623: [37.09473, 127.14525],
 83751246: [37.314415, 127.06805],
 85719036: [37.27544, 127.137634],
 85079030: [37.254635, 127.11518],
 87750864: [37.255356, 127.20934],
 86167047: [37.293064, 127.15335],
 84327191: [37.305927, 127.0884],
 87430833: [37.23234, 127.19816],
 84439233: [37.328022, 127.09223],
 87814804: [37.23012, 127.21169],
 83991227: [37.312645, 127.076515],
 86694717: [37.15926, 127.17255],
 85254993: [37.24294, 127.121445],
 85991029: [37.279976, 127.1472],
 89350946: [37.33751, 127.26547],
 84903050: [37.25867, 127.10896],
 85639025: [37.26822, 127.13485],
 87222856: [37.23683, 127.19081],
 84647247: [37.340218, 127.09951],
 86199030: [37.28631, 127.15451],
 88998982: [37.343792, 127.25303],
 84583242: [37.33615, 127.09727],
 84391183: [37.30413, 127.09067],
 87366841: [37.23414, 127.19589],
 84695232: [37.334816, 127.10123],
 86774750: [37.176395, 127.175285],
 90614641: [37.23573, 127.31032],
 84135185: [37.29779, 127.08168],
 87462837: [37.23505, 127.19927],
 87894591: [37.136383, 127.21487],
 85495084: [37.290737, 127.12967],
 85063027: [37.25283, 127.11463],
 83847084: [37.24412, 127.07183],
 88822738: [37.22885, 127.24721],
 83671257: [37.317112, 127.06521],
 87510831: [37.2337, 127.200966],
 84727240: [37.339325, 127.10233],
 84583254: [37.34156, 127.097244],
 89142982: [37.34786, 127.2581],
 83543261: [37.315292, 127.06071],
 84791093: [37.274883, 127.10493],
 92838321: [37.15425, 127.38879],
 87414850: [37.23955, 127.19756],
 85159175: [37.32225, 127.11766],
 84903097: [37.279854, 127.10885],
 84279192: [37.30502, 127.086716],
 87846548: [37.115646, 127.21325],
 84903198: [37.325375, 127.10861],
 85687022: [37.268227, 127.13654],
 83815087: [37.244568, 127.0707],
 90806640: [37.2407, 127.31707],
 85143176: [37.322247, 127.117096],
 86550919: [37.24623, 127.16709],
 83831271: [37.327946, 127.070786],
 86695118: [37.33999, 127.17176],
 85783111: [37.31105, 127.139725],
 88470912: [37.29733, 127.234566],
 84983204: [37.33034, 127.11141],
 90646632: [37.23258, 127.311455],
 85527123: [37.30922, 127.13071],
 86375020: [37.286774, 127.16071],
 85399185: [37.33354, 127.12607],
 84887199: [37.32537, 127.10805],
 85079080: [37.277172, 127.11507],
 87686894: [37.267067, 127.20704],
 84455197: [37.312252, 127.09288],
 84935057: [37.262733, 127.11007],
 86151063: [37.299824, 127.152756],
 87542844: [37.240463, 127.20207],
 84375256: [37.33658, 127.08993],
 84663214: [37.325798, 127.10015],
 84167203: [37.30681, 127.082756],
 86279008: [37.278652, 127.157364],
 87958920: [37.286472, 127.21655],
 86167033: [37.286755, 127.15337],
 87063100: [37.342278, 127.18473],
 84967116: [37.29023, 127.11105],
 85143020: [37.25194, 127.117455],
 84087208: [37.306797, 127.07993],
 86918876: [37.23725, 127.1801],
 83767270: [37.325687, 127.06854],
 84823075: [37.267677, 127.106094],
 84519070: [37.256824, 127.095436],
 83767070: [37.23555, 127.06906],
 84951210: [37.33214, 127.110275],
 84855097: [37.278496, 127.10716],
 85175183: [37.326305, 127.1182],
 83943045: [37.22926, 127.075294],
 83735085: [37.2414, 127.067894],
 87366848: [37.237293, 127.195885],
 84391232: [37.326214, 127.09055],
 84439199: [37.3127, 127.092316],
 84951168: [37.313213, 127.110374],
 87494835: [37.23505, 127.2004],
 87974701: [37.18822, 127.21748],
 84871159: [37.306892, 127.10758],
 84550987: [37.22032, 127.09676],
 93238248: [37.13263, 127.40289],
 84935209: [37.331238, 127.10971],
 83831279: [37.331554, 127.07077],
 87094856: [37.23321, 127.18632],
 86390987: [37.272354, 127.16134],
 84519225: [37.32668, 127.09506],
 85991010: [37.27141, 127.14725],
 83991236: [37.3167, 127.07649],
 86167009: [37.275936, 127.15343],
 84951116: [37.289776, 127.11049],
 85750997: [37.258766, 127.13885],
 84423117: [37.27529, 127.09196],
 84183024: [37.226585, 127.08376],
 87430845: [37.23775, 127.198135],
 85927032: [37.27952, 127.14495],
 84967208: [37.33169, 127.11084],
 88134881: [37.27387, 127.22281],
 85063194: [37.3281, 127.11424],
 86935109: [37.342716, 127.180214],
 85079184: [37.324043, 127.11483],
 84935026: [37.24876, 127.11014],
 87334849: [37.23684, 127.194756],
 84967085: [37.276257, 127.11112],
 85335158: [37.319565, 127.12388],
 85239093: [37.287556, 127.12066],
 89686697: [37.23477, 127.277626],
 89014752: [37.240585, 127.25393],
 84375187: [37.30548, 127.0901],
 86375125: [37.3341, 127.1605],
 88726933: [37.314026, 127.24354],
 84999142: [37.302853, 127.112114],
 87782875: [37.26122, 127.21045],
 88006873: [37.266644, 127.21832],
 84487226: [37.326225, 127.09394],
 87222833: [37.226463, 127.19085],
 84839089: [37.27444, 127.10662],
 83863073: [37.239616, 127.07242],
 84183023: [37.226135, 127.08376],
 85271071: [37.278545, 127.12183],
 84823047: [37.25506, 127.10616],
 84999094: [37.28122, 127.11223],
 85495056: [37.27812, 127.12973],
 83767258: [37.32028, 127.06857],
 88982977: [37.341087, 127.25247],
 87367072: [37.33825, 127.19547],
 84887088: [37.275345, 127.10831],
 86855111: [37.341354, 127.1774],
 84311215: [37.316288, 127.08778],
 83927227: [37.310833, 127.07427],
 85367096: [37.292526, 127.125145],
 86439004: [37.281372, 127.16299],
 84103141: [37.277054, 127.080666],
 84183121: [37.270306, 127.08353],
 85959048: [37.287632, 127.14604],
 84279231: [37.322594, 127.086624],
 85686798: [37.16727, 127.13703],
 85207061: [37.27223, 127.119606],
 83431312: [37.335106, 127.05664],
 83783259: [37.321182, 127.06914],
 84471085: [37.262226, 127.09372],
 84855105: [37.282104, 127.10715],
 89878675: [37.230278, 127.2844],
 84807047: [37.254604, 127.1056],
 85767042: [37.279503, 127.13931],
 87254853: [37.23638, 127.19194],
 87478819: [37.22739, 127.19987],
 83799243: [37.314423, 127.06974],
 84295260: [37.336117, 127.08711],
 84391270: [37.34334, 127.09046],
 84935107: [37.285267, 127.109955],
 84871060: [37.262276, 127.10781],
 85671029: [37.270927, 127.13596],
 84455203: [37.314957, 127.09287],
 83927145: [37.273876, 127.07448],
 84551250: [37.338852, 127.09613],
 84455247: [37.334785, 127.092766],
 88390800: [37.24459, 127.23193],
 85719018: [37.267326, 127.13767],
 85079198: [37.330353, 127.1148],
 85127201: [37.33306, 127.11648],
 84935201: [37.327633, 127.10973],
 85783026: [37.272743, 127.13991],
 84295196: [37.307274, 127.087265],
 83591254: [37.313496, 127.06241],
 85303110: [37.297028, 127.12286],
 85223190: [37.33082, 127.11987],
 85719164: [37.333126, 127.13736],
 83719263: [37.321175, 127.06688],
 84983181: [37.319977, 127.111465],
 84567245: [37.33705, 127.0967],
 85239121: [37.300175, 127.12059],
 84263218: [37.316284, 127.08609],
 84039152: [37.2802, 127.07839],
 88055002: [37.32614, 127.21979],
 86167019: [37.280445, 127.153404],
 89750667: [37.223057, 127.279915],
 83975262: [37.327965, 127.07587],
 85783112: [37.3115, 127.139725],
 83815155: [37.275215, 127.070526],
 84679208: [37.323544, 127.10072],
 85559035: [37.270466, 127.13202],
 83847056: [37.231503, 127.0719],
 84823228: [37.33663, 127.105736],
 83927219: [37.307228, 127.074295],
 85111088: [37.28168, 127.11617],
 84807224: [37.334377, 127.10518],
 86726896: [37.24084, 127.17332],
 84135214: [37.31086, 127.081604],
 86134995: [37.268723, 127.15233],
 85862964: [37.247063, 127.142845],
 85399156: [37.320473, 127.12614],
 84231253: [37.331154, 127.08488],
 83991258: [37.326614, 127.07644],
 84183219: [37.314472, 127.08328],
 84375222: [37.321255, 127.09001],
 85479120: [37.30651, 127.12903],
 84886985: [37.228924, 127.10855],
 86838881: [37.237244, 127.17728],
 87990867: [37.26349, 127.217766],
 84455225: [37.32487, 127.09282],
 86534718: [37.15519, 127.16693],
 83895209: [37.301815, 127.0732],
 85479176: [37.33175, 127.1289],
 83719285: [37.33109, 127.06682],
 86550935: [37.25344, 127.16706],
 86215007: [37.276394, 127.15511],
 85127077: [37.277176, 127.11676],
 83783258: [37.320732, 127.06914],
 85159026: [37.255096, 127.118004],
 85654986: [37.251095, 127.1355],
 83975219: [37.308586, 127.07597],
 90710482: [37.16678, 127.313866],
 84119243: [37.32348, 127.08097],
 88918974: [37.33793, 127.25023],
 88966850: [37.283398, 127.2521],
 85015132: [37.298798, 127.1127],
 85031033: [37.25463, 127.113495],
 84887016: [37.242897, 127.108475],
 84119218: [37.31221, 127.08103],
 83879246: [37.31804, 127.07254],
 85591030: [37.269115, 127.133156],
 84231219: [37.31583, 127.08496],
 84407247: [37.333427, 127.09108],
 86150997: [37.270077, 127.15289],
 84599194: [37.314972, 127.097946],
 83879146: [37.27297, 127.07279],
 90550633: [37.230316, 127.308075],
 84535212: [37.321274, 127.09566],
 85383115: [37.301544, 127.12566],
 83767253: [37.318024, 127.06859],
 83719265: [37.322075, 127.06687],
 86167020: [37.280895, 127.153404],
 84999068: [37.2695, 127.11229]}

In [15]:
df_all = pd.DataFrame(columns=["best_name", "hotel_name", "거리차이", "score"])

for i in range(0, len(best_4_dict)) :
    best_nm = list(best_4_dict.keys())[i]
    best_xy = list(best_4_dict.items())[i][1]

    for j in range(0, len(hotel_best_dict)) :
        hotel_best_nm = list(hotel_best_dict.keys())[j]
        hotel_best_xy = list(hotel_best_dict.items())[j][1]

        ## 최종 거리 계산 결과값
        result = haversine(best_xy, hotel_best_xy, unit='m')

        score = 0
        if result <= 200:
            score = 5
        elif 200 < result <= 400:
            score = 4
        elif 400 < result <= 600:
            score = 3
        elif 600 < result <= 800:
            score = 2
        elif 800 < result <= 1000:
            score = 1
        df_all = pd.concat([df_all, 
                        pd.DataFrame({'best_name':[best_nm],'hotel_name':[hotel_best_nm], '거리차이':[result], 'score':[score]})], ignore_index=True)
df_all

      best_name hotel_name          거리차이 score
0      85094952      오스카호텔   8222.382735     0
1      85094952      호텔 M7   5690.902655     0
2      85094952   (주)더숨디앤씨  11050.386132     0
3      85094952        양지장  14969.849447     0
4      85094952     레미니스호텔   1192.763713     0
...         ...        ...           ...   ...
62680  84999068      기흥장여관   5417.927683     0
62681  84999068        에버힐  10131.533546     0
62682  84999068       아도니스  10060.941380     0
62683  84999068      대흥여인숙    507.366390     3
62684  84999068      호텔스위스  10097.014913     0

[62685 rows x 4 columns]

In [16]:
df_all_4 = df_all.groupby('hotel_name')['score'].sum()
df_all_4 = df_all_4.reset_index()
df_all_4 = df_all_4.rename(columns = {'score' : '4_score'})
df_all_4

            hotel_name 4_score
0             (주)더숨디앤씨       2
1    (주)청송네트웍스(더트리니호텔)      16
2               G(지)호텔      36
3                   G7       5
4                  G모텔      34
..                 ...     ...
194              홍실여인숙       4
195              휘닉스모텔      12
196          힐(HILL)모텔       5
197               힐탑여관       0
198                힐호텔      38

[199 rows x 2 columns]

# Best 3점

In [17]:
best_3 = best[best['best_score'] == 3]
best_3.head()

      cell_id   cell_xcrd  cell_ycrd  overlap  person_cnt  best_score
630  90710643  127.313690  37.239340        3      56.924           3
631  84055207  127.078820  37.305443        3      56.908           3
632  87686748  127.207300  37.201267        3      56.900           3
633  85335125  127.123955  37.304690        3      56.865           3
634  87638699  127.205696  37.177826        3      56.801           3

In [18]:
best_3 = best_3[['cell_id', 'cell_ycrd', 'cell_xcrd']]
best_3.head()

      cell_id  cell_ycrd   cell_xcrd
630  90710643  37.239340  127.313690
631  84055207  37.305443  127.078820
632  87686748  37.201267  127.207300
633  85335125  37.304690  127.123955
634  87638699  37.177826  127.205696

In [19]:
best_3_dict = best_3.set_index(['cell_id']).T.to_dict('list')
best_3_dict

{90710643: [37.23934, 127.31369],
 84055207: [37.305443, 127.07882],
 87686748: [37.201267, 127.2073],
 85335125: [37.30469, 127.123955],
 87638699: [37.177826, 127.205696],
 84023154: [37.28065, 127.07783],
 87814816: [37.23553, 127.21167],
 84071216: [37.30995, 127.07935],
 84007224: [37.311745, 127.07709],
 88375027: [37.346447, 127.231],
 86327016: [37.283615, 127.159035],
 84295229: [37.322147, 127.08719],
 83895268: [37.328407, 127.073044],
 83447283: [37.32249, 127.057274],
 84071204: [37.304543, 127.079384],
 84823062: [37.261818, 127.106125],
 87190953: [37.279644, 127.18951],
 84055037: [37.228825, 127.07924],
 86119036: [37.28675, 127.15169],
 85750999: [37.25967, 127.13884],
 86518919: [37.245327, 127.16597],
 83623263: [37.318455, 127.06351],
 83815277: [37.3302, 127.07021],
 84519082: [37.262234, 127.095406],
 84727153: [37.300114, 127.10254],
 84167216: [37.312668, 127.082726],
 85079083: [37.278522, 127.11506],
 84839164: [37.30824, 127.106445],
 85143067: [37.27312, 127.11735],
 87766774: [37.215244, 127.21006],
 84791062: [37.260914, 127.105],
 83847267: [37.3266, 127.07136],
 84487237: [37.331184, 127.09391],
 84327189: [37.305023, 127.08841],
 88950978: [37.340633, 127.25135],
 85063204: [37.332603, 127.11422],
 83495270: [37.31799, 127.059],
 87430847: [37.23865, 127.19813],
 84247211: [37.312675, 127.08555],
 85351103: [37.29523, 127.124565],
 87558971: [37.298157, 127.20241],
 88422872: [37.277946, 127.23294],
 88166654: [37.172462, 127.224304],
 84247023: [37.227947, 127.08601],
 87702729: [37.193157, 127.207886],
 85814987: [37.25607, 127.14111],
 84935181: [37.31862, 127.10978],
 85335118: [37.301537, 127.12397],
 87766729: [37.194965, 127.21014],
 84935061: [37.264534, 127.11006],
 84967028: [37.25057, 127.11126],
 88086871: [37.268005, 127.22114],
 84695027: [37.242424, 127.101715],
 84647223: [37.3294, 127.09956],
 84471197: [37.312702, 127.093445],
 85319194: [37.33534, 127.12324],
 87990888: [37.272953, 127.217735],
 88006879: [37.26935, 127.21831],
 88966967: [37.33613, 127.25193],
 84887143: [37.300133, 127.108185],
 87350858: [37.24135, 127.195305],
 84503225: [37.32623, 127.094505],
 84055249: [37.32437, 127.07871],
 89078982: [37.34605, 127.255844],
 84135218: [37.312664, 127.0816],
 90310646: [37.2294, 127.29962],
 86310998: [37.27505, 127.15851],
 88422882: [37.28245, 127.232925],
 84871147: [37.301483, 127.10761],
 86295126: [37.332287, 127.157684],
 84311198: [37.308628, 127.08782],
 84391237: [37.32847, 127.09054],
 84951195: [37.32538, 127.110306],
 85415178: [37.33084, 127.12665],
 83815160: [37.27747, 127.07051],
 84999143: [37.303303, 127.112114],
 85303189: [37.33263, 127.12269],
 84631162: [37.301456, 127.09915],
 87894807: [37.233734, 127.2145],
 86023052: [37.291245, 127.14828],
 84695249: [37.342476, 127.10119],
 84535092: [37.267193, 127.09595],
 84423216: [37.31991, 127.09171],
 84583216: [37.324436, 127.097336],
 83751210: [37.29819, 127.06814],
 84919187: [37.32087, 127.1092],
 84871223: [37.335735, 127.10743],
 84135211: [37.30951, 127.08161],
 84471260: [37.3411, 127.09329],
 85287177: [37.32677, 127.122154],
 84839099: [37.278946, 127.1066],
 84599175: [37.306408, 127.09799],
 84551234: [37.331642, 127.09617],
 84471235: [37.32983, 127.09335],
 88022801: [37.234646, 127.219],
 87862843: [37.249054, 127.21331],
 84823218: [37.332127, 127.10576],
 86743123: [37.343597, 127.17344],
 87670677: [37.168816, 127.206856],
 90918603: [37.227184, 127.321045],
 87990875: [37.267094, 127.21776],
 87462849: [37.24046, 127.19925],
 85303104: [37.294323, 127.12288],
 86999098: [37.33957, 127.18249],
 90870643: [37.24386, 127.31931],
 85063182: [37.32269, 127.11427],
 85671033: [37.27273, 127.135956],
 85255016: [37.253304, 127.12139],
 84503221: [37.324425, 127.09451],
 84647149: [37.29605, 127.09974],
 84551098: [37.270348, 127.0965],
 85079107: [37.28934, 127.115005],
 87814893: [37.270233, 127.21154],
 84583244: [37.337055, 127.09727],
 88054884: [37.27296, 127.219986],
 86630898: [37.23903, 127.169945],
 85479099: [37.297047, 127.129074],
 84455200: [37.313602, 127.09288],
 84535235: [37.331642, 127.095604],
 84999108: [37.28753, 127.1122],
 84695130: [37.288845, 127.10147],
 88358805: [37.24594, 127.2308],
 86086993: [37.266464, 127.15065],
 84567201: [37.317223, 127.09681],
 83799156: [37.27521, 127.06996],
 84615202: [37.31903, 127.09849],
 84599218: [37.32579, 127.09789],
 87990790: [37.228786, 127.217896],
 84567184: [37.30956, 127.09685],
 84391233: [37.326664, 127.090546],
 83319293: [37.32337, 127.05276],
 87638616: [37.14042, 127.20584],
 86375016: [37.284973, 127.16072],
 89878677: [37.23118, 127.2844],
 84007216: [37.30814, 127.07711],
 86294990: [37.270992, 127.15796],
 84359226: [37.322605, 127.08944],
 85671030: [37.271378, 127.13596],
 87910809: [37.23509, 127.21506],
 84919162: [37.3096, 127.10926],
 85175080: [37.27989, 127.11844],
 87350852: [37.238644, 127.19531],
 84951138: [37.29969, 127.11044],
 84103204: [37.305447, 127.080505],
 84359107: [37.268974, 127.08974],
 90390672: [37.243378, 127.30241],
 87574823: [37.231903, 127.20323],
 85991070: [37.298454, 127.14712],
 85047075: [37.274014, 127.11396],
 86055060: [37.295757, 127.14938],
 86294985: [37.268738, 127.157974],
 90950525: [37.192932, 127.32226],
 84199244: [37.32619, 127.08378],
 84135242: [37.32348, 127.081535],
 88358806: [37.24639, 127.2308],
 84727038: [37.248287, 127.10281],
 84375154: [37.290607, 127.09018],
 85063199: [37.33035, 127.114235],
 82935401: [37.36118, 127.03898],
 89814687: [37.23388, 127.282135],
 84983165: [37.312763, 127.1115],
 84343235: [37.32621, 127.08886],
 83815061: [37.23285, 127.07076],
 84631160: [37.300556, 127.09915],
 84951150: [37.3051, 127.11041],
 84423215: [37.319458, 127.09171],
 87510827: [37.2319, 127.20097],
 90662540: [37.191563, 127.31212],
 88102837: [37.25313, 127.221756],
 84615238: [37.335255, 127.098404],
 85287012: [37.252407, 127.12253],
 86311000: [37.27595, 127.1585],
 87974914: [37.284218, 127.217125],
 87590733: [37.191795, 127.20395],
 86262987: [37.268738, 127.156845],
 88758980: [37.336113, 127.24459],
 84711021: [37.240173, 127.102295],
 92134447: [37.191185, 127.363945],
 85143175: [37.321796, 127.117096],
 85158976: [37.232563, 127.11811],
 83783069: [37.23555, 127.06962],
 86166984: [37.26467, 127.15348],
 83911207: [37.30137, 127.07376],
 85127024: [37.25329, 127.11688],
 85303190: [37.33308, 127.12269],
 84663222: [37.329403, 127.10013],
 84935027: [37.24921, 127.11014],
 87142864: [37.238174, 127.18799],
 85831139: [37.325027, 127.14135],
 84199085: [37.25453, 127.084175],
 85031081: [37.276264, 127.11338],
 87094859: [37.234566, 127.18631],
 84743005: [37.233864, 127.103455],
 84615199: [37.31768, 127.098495],
 85431126: [37.307858, 127.12733],
 85127189: [37.327652, 127.11651],
 88358807: [37.24684, 127.2308],
 87094857: [37.23366, 127.18631],
 85751101: [37.30564, 127.13862],
 85079089: [37.281227, 127.11505],
 83991202: [37.301376, 127.076584],
 85191179: [37.32496, 127.118774],
 84007205: [37.30318, 127.07713],
 88199017: [37.336967, 127.22483],
 84983136: [37.299694, 127.11157],
 84711094: [37.27307, 127.10212],
 85159025: [37.254646, 127.118004],
 84887003: [37.237038, 127.108505],
 84983138: [37.300594, 127.111565],
 85015206: [37.33215, 127.11253],
 84663210: [37.323994, 127.10016],
 85015160: [37.311417, 127.11264],
 85511083: [37.29074, 127.13023],
 83895152: [37.276127, 127.07334],
 84455274: [37.346954, 127.0927],
 84167242: [37.324383, 127.08266],
 85143080: [37.27898, 127.11732],
 88086901: [37.281525, 127.221085],
 88246901: [37.286045, 127.22671],
 84919185: [37.31997, 127.10921],
 86135016: [37.278187, 127.15229],
 87718826: [37.237324, 127.20828],
 85271012: [37.251953, 127.12196],
 83431367: [37.359894, 127.05649],
 85894980: [37.255177, 127.143936],
 85335188: [37.333084, 127.12382],
 88886963: [37.332066, 127.249115],
 85846981: [37.254272, 127.14225],
 88150829: [37.25088, 127.22345],
 88710984: [37.33656, 127.2429],
 84855110: [37.284355, 127.10713],
 87894812: [37.23599, 127.214485],
 87094872: [37.240425, 127.18629],
 86119049: [37.292606, 127.15166],
 83991253: [37.324364, 127.076454],
 85015197: [37.32809, 127.11255],
 88262825: [37.252243, 127.227394],
 85014984: [37.232094, 127.113045],
 84934984: [37.22983, 127.11024],
 84007251: [37.323914, 127.07702],
 84391076: [37.25591, 127.090935],
 87974915: [37.28467, 127.217125],
 84663207: [37.322643, 127.10017],
 84407213: [37.318104, 127.091156],
 85127112: [37.29295, 127.116684],
 84359202: [37.31179, 127.0895],
 86534957: [37.262905, 127.16646],
 85415177: [37.33039, 127.12665],
 85351114: [37.300186, 127.12454],
 84119202: [37.305, 127.08108],
 86359005: [37.279564, 127.16018],
 83703345: [37.357677, 127.0661],
 84375186: [37.30503, 127.0901],
 84951141: [37.301044, 127.110435],
 86535000: [37.282284, 127.16637],
 83959268: [37.330215, 127.075294],
 85958739: [37.14837, 127.14669],
 86263005: [37.276848, 127.15681],
 86135106: [37.31875, 127.1521],
 87398631: [37.140396, 127.197395],
 84103236: [37.31987, 127.08043],
 84167201: [37.305904, 127.08276],
 84295188: [37.30367, 127.08729],
 85255126: [37.30288, 127.12115],
 83671258: [37.317562, 127.06521],
 84551089: [37.266293, 127.09651],
 86631001: [37.28545, 127.16974],
 85191097: [37.288002, 127.118965],
 93558246: [37.14075, 127.41415],
 87926879: [37.26709, 127.2155],
 87814707: [37.186405, 127.21186],
 83719211: [37.297737, 127.06701],
 84951113: [37.288425, 127.1105],
 84935081: [37.27355, 127.11001],
 85271014: [37.252857, 127.121956],
 84823042: [37.252804, 127.10617],
 84967064: [37.266792, 127.111176],
 84711194: [37.318142, 127.10188],
 85159115: [37.295208, 127.1178],
 84119245: [37.32438, 127.08097],
 84919076: [37.270844, 127.10946],
 85543057: [37.279926, 127.13141],
 85495174: [37.3313, 127.12947],
 86535026: [37.294003, 127.16632],
 87846827: [37.241394, 127.212776],
 84983135: [37.299244, 127.11157],
 87350861: [37.242702, 127.1953],
 83719253: [37.316666, 127.0669],
 85015031: [37.253277, 127.11294],
 83495284: [37.3243, 127.05896],
 85079090: [37.281677, 127.11504],
 85846984: [37.255623, 127.14224],
 85719116: [37.311493, 127.13747],
 93126278: [37.142994, 127.39894],
 83911196: [37.29641, 127.07379],
 87286954: [37.282806, 127.19288],
 87638905: [37.270668, 127.20534],
 83799155: [37.27476, 127.06996],
 85575034: [37.270466, 127.13258],
 84311203: [37.310883, 127.087814],
 85223061: [37.272682, 127.12017],
 88998962: [37.334778, 127.25306],
 84791215: [37.32987, 127.104645],
 85159190: [37.32901, 127.11763],
 87174853: [37.234123, 127.18913],
 87638827: [37.235516, 127.205475],
 86390958: [37.259285, 127.1614],
 87334847: [37.23594, 127.194756],
 87750717: [37.189102, 127.209595],
 85687005: [37.260563, 127.13658],
 84967062: [37.265892, 127.111176],
 85367180: [37.330383, 127.124954],
 84887222: [37.33574, 127.107994],
 83911258: [37.324352, 127.07363],
 85927041: [37.283573, 127.14493]}

In [20]:
df_all = pd.DataFrame(columns=["best_name", "hotel_name", "거리차이", "score"])

for i in range(0, len(best_3_dict)) :
    best_nm = list(best_3_dict.keys())[i]
    best_xy = list(best_3_dict.items())[i][1]

    for j in range(0, len(hotel_best_dict)) :
        hotel_best_nm = list(hotel_best_dict.keys())[j]
        hotel_best_xy = list(hotel_best_dict.items())[j][1]

        ## 최종 거리 계산 결과값
        result = haversine(best_xy, hotel_best_xy, unit='m')

        score = 0
        if result <= 200:
            score = 5
        elif 200 < result <= 400:
            score = 4
        elif 400 < result <= 600:
            score = 3
        elif 600 < result <= 800:
            score = 2
        elif 800 < result <= 1000:
            score = 1
        df_all = pd.concat([df_all, 
                        pd.DataFrame({'best_name':[best_nm],'hotel_name':[hotel_best_nm], '거리차이':[result], 'score':[score]})], ignore_index=True)
df_all

      best_name hotel_name          거리차이 score
0      90710643      오스카호텔   9471.524883     0
1      90710643      호텔 M7  18786.226821     0
2      90710643   (주)더숨디앤씨  10716.863915     0
3      90710643        양지장   2687.683849     0
4      90710643     레미니스호텔  18577.657753     0
...         ...        ...           ...   ...
62680  85927041      기흥장여관   7986.446044     0
62681  85927041        에버힐   6916.351907     0
62682  85927041       아도니스   6842.537134     0
62683  85927041      대흥여인숙   3539.640737     0
62684  85927041      호텔스위스   6883.393817     0

[62685 rows x 4 columns]

In [21]:
df_all_3 = df_all.groupby('hotel_name')['score'].sum()
df_all_3 = df_all_3.reset_index()
df_all_3 = df_all_3.rename(columns = {'score' : '3_score'})
df_all_3

            hotel_name 3_score
0             (주)더숨디앤씨       2
1    (주)청송네트웍스(더트리니호텔)      11
2               G(지)호텔      43
3                   G7      14
4                  G모텔      28
..                 ...     ...
194              홍실여인숙      14
195              휘닉스모텔      30
196          힐(HILL)모텔      13
197               힐탑여관       0
198                힐호텔      46

[199 rows x 2 columns]

# Best 2점

In [22]:
best_2 = best[best['best_score'] == 2]
best_2.head()

      cell_id   cell_xcrd  cell_ycrd  overlap  person_cnt  best_score
945  84951062  127.110620  37.265438        3      48.784           2
946  84599217  127.097890  37.325340        3      48.737           2
947  85127166  127.116554  37.317287        3      48.729           2
948  84183198  127.083330  37.305008        3      48.682           2
949  83767250  127.068596  37.316673        2      48.660           2

In [23]:
best_2 = best_2[['cell_id', 'cell_ycrd', 'cell_xcrd']]
best_2.head()

      cell_id  cell_ycrd   cell_xcrd
945  84951062  37.265438  127.110620
946  84599217  37.325340  127.097890
947  85127166  37.317287  127.116554
948  84183198  37.305008  127.083330
949  83767250  37.316673  127.068596

In [24]:
best_2_dict = best_2.set_index(['cell_id']).T.to_dict('list')
best_2_dict

{84951062: [37.265438, 127.11062],
 84599217: [37.32534, 127.09789],
 85127166: [37.317287, 127.116554],
 84183198: [37.305008, 127.08333],
 83767250: [37.316673, 127.068596],
 84231218: [37.31538, 127.08497],
 85191066: [37.27403, 127.11903],
 84455209: [37.31766, 127.09286],
 84407237: [37.328922, 127.0911],
 84935204: [37.328983, 127.109726],
 83959227: [37.31174, 127.07539],
 84503246: [37.335693, 127.09445],
 87190869: [37.241783, 127.18966],
 84423209: [37.316753, 127.09173],
 85815001: [37.26238, 127.14108],
 86087067: [37.299816, 127.1505],
 87878804: [37.23193, 127.21394],
 83831262: [37.32389, 127.07081],
 85335121: [37.30289, 127.12396],
 84375228: [37.32396, 127.09],
 84999061: [37.266346, 127.112305],
 84711243: [37.340225, 127.10176],
 84951111: [37.28752, 127.110504],
 84551231: [37.33029, 127.096176],
 84919167: [37.311855, 127.10925],
 83703276: [37.32658, 127.066284],
 88358888: [37.283348, 127.23067],
 86886727: [37.169193, 127.17926],
 84375257: [37.33703, 127.08993],
 84583201: [37.317677, 127.09737],
 84967084: [37.275806, 127.11113],
 84407273: [37.345146, 127.09101],
 86327010: [37.28091, 127.15904],
 84455207: [37.316757, 127.09286],
 87718748: [37.20217, 127.20842],
 84663245: [37.339767, 127.100075],
 84167226: [37.317173, 127.0827],
 84999010: [37.24336, 127.11242],
 86359017: [37.28497, 127.16016],
 83927160: [37.280636, 127.07444],
 84711238: [37.33797, 127.101776],
 85527034: [37.269108, 127.1309],
 88390804: [37.246395, 127.231926],
 84567249: [37.338856, 127.096695],
 84951100: [37.282566, 127.11053],
 85335168: [37.32407, 127.12386],
 85063133: [37.300606, 127.11439],
 85239058: [37.271782, 127.120735],
 84103243: [37.323025, 127.080414],
 84375024: [37.232018, 127.0905],
 84791061: [37.260464, 127.105],
 84711221: [37.33031, 127.101814],
 83687221: [37.30134, 127.065865],
 84439094: [37.265377, 127.092575],
 83671292: [37.332886, 127.06512],
 87094858: [37.234116, 127.18631],
 87014853: [37.2296, 127.18351],
 87462620: [37.137245, 127.19966],
 87366634: [37.140842, 127.196266],
 85479123: [37.30786, 127.12902],
 85303094: [37.289818, 127.1229],
 86230984: [37.26648, 127.15572],
 83543269: [37.318897, 127.060684],
 92454367: [37.164154, 127.37526],
 84087199: [37.302742, 127.079956],
 83783268: [37.325237, 127.069115],
 88550798: [37.24821, 127.23756],
 88006827: [37.245914, 127.2184],
 91398467: [37.179432, 127.33806],
 90838634: [37.238895, 127.3182],
 84023253: [37.325268, 127.077576],
 88054971: [37.31217, 127.21984],
 86103049: [37.292156, 127.15109],
 84039258: [37.327972, 127.078125],
 85735004: [37.26147, 127.13827],
 85399175: [37.329037, 127.12609],
 84471202: [37.314957, 127.09344],
 85511177: [37.333107, 127.13002],
 84839228: [37.337086, 127.1063],
 84583253: [37.34111, 127.097244],
 84967182: [37.319973, 127.1109],
 84551215: [37.32308, 127.096214],
 84359174: [37.29917, 127.08957],
 87254856: [37.237736, 127.19193],
 87830669: [37.16973, 127.21249],
 83671213: [37.29728, 127.06532],
 86150999: [37.270977, 127.152885],
 85895050: [37.286724, 127.14379],
 85143195: [37.33081, 127.11705],
 84711215: [37.327606, 127.10183],
 87974537: [37.114304, 127.21776],
 84151209: [37.30906, 127.082184],
 87526734: [37.190437, 127.201706],
 87398858: [37.242706, 127.19698],
 83607262: [37.317554, 127.06295],
 85975035: [37.282227, 127.14663],
 84199123: [37.27166, 127.084076],
 85463042: [37.270905, 127.12864],
 85479154: [37.321835, 127.12895],
 84887095: [37.2785, 127.10829],
 84551249: [37.3384, 127.09613],
 83799068: [37.235554, 127.07018],
 85799108: [37.31015, 127.14029],
 85062963: [37.223988, 127.11478],
 84295208: [37.312683, 127.08724],
 86071069: [37.300266, 127.14993],
 84503227: [37.32713, 127.0945],
 85175182: [37.325855, 127.11821],
 87206843: [37.23052, 127.19027],
 84135236: [37.320774, 127.08155],
 84599176: [37.30686, 127.09799],
 85047172: [37.31773, 127.11373],
 83687256: [37.317112, 127.06577],
 85351115: [37.300636, 127.12454],
 85415127: [37.307858, 127.12676],
 84583220: [37.326237, 127.09732],
 84871091: [37.276245, 127.10774],
 90214649: [37.228043, 127.29624],
 84839098: [37.278496, 127.106606],
 84551219: [37.324883, 127.0962],
 84903143: [37.300587, 127.10874],
 84375120: [37.275284, 127.09026],
 86038722: [37.142967, 127.14953],
 84279229: [37.321693, 127.086624],
 90902540: [37.198338, 127.32055],
 86662792: [37.192158, 127.17127],
 86007053: [37.291245, 127.14771],
 84439198: [37.31225, 127.09232],
 84487188: [37.3091, 127.09403],
 84407257: [37.337933, 127.09105],
 88294914: [37.29326, 127.22838],
 90934540: [37.19924, 127.32168],
 83959203: [37.300922, 127.075455],
 83815205: [37.29775, 127.0704],
 84471233: [37.32893, 127.09336],
 85127113: [37.2934, 127.11668],
 85255111: [37.29612, 127.12118],
 84359256: [37.336124, 127.08937],
 86678895: [37.239033, 127.17163],
 86342968: [37.262436, 127.15969],
 89782694: [37.23613, 127.281006],
 89702670: [37.223053, 127.27822],
 84199245: [37.32664, 127.08378],
 85335007: [37.25151, 127.12422],
 83943265: [37.32841, 127.07474],
 84487236: [37.330734, 127.09391],
 84199201: [37.306812, 127.083885],
 84727214: [37.327606, 127.102394],
 90214653: [37.229847, 127.29624],
 84695093: [37.272167, 127.10156],
 86998855: [37.23005, 127.182945],
 85367176: [37.328583, 127.12497],
 84983097: [37.282116, 127.11166],
 93030296: [37.1484, 127.39555],
 84551200: [37.31632, 127.096245],
 84695184: [37.313183, 127.10134],
 83735212: [37.29864, 127.06757],
 86918766: [37.187675, 127.180305],
 85047146: [37.30601, 127.11379],
 85303185: [37.33083, 127.122696],
 87862812: [37.235085, 127.21336],
 84854979: [37.225315, 127.107445],
 84839093: [37.27624, 127.10661],
 86215023: [37.283604, 127.15508],
 84711092: [37.27217, 127.10213],
 84823072: [37.266323, 127.1061],
 84231217: [37.314926, 127.08497],
 83911219: [37.306774, 127.07373],
 87958871: [37.26439, 127.21664],
 84391254: [37.33613, 127.0905],
 84359197: [37.309536, 127.089516],
 84999199: [37.32854, 127.111984],
 84631161: [37.301006, 127.09915],
 84343106: [37.26807, 127.08917],
 85351174: [37.32723, 127.124405],
 85527055: [37.278572, 127.13085],
 85255192: [37.332626, 127.120995],
 86214996: [37.271435, 127.155136],
 84183083: [37.253178, 127.08362],
 85031126: [37.296547, 127.11328],
 87894824: [37.241398, 127.21447],
 83911246: [37.318943, 127.07366],
 85047158: [37.31142, 127.11377],
 86151045: [37.29171, 127.152794],
 84183245: [37.32619, 127.08321],
 85479170: [37.329044, 127.128914],
 86902877: [37.23725, 127.179535],
 84423231: [37.326668, 127.091675],
 85159083: [37.280785, 127.117874],
 84823105: [37.281197, 127.106026],
 84759192: [37.318596, 127.10357],
 84999161: [37.311413, 127.112076],
 84839041: [37.252808, 127.106735],
 86566903: [37.23947, 127.16769],
 87942920: [37.28602, 127.21599],
 89366894: [37.31452, 127.266106],
 84983134: [37.298794, 127.11157],
 84679209: [37.323997, 127.10072],
 84039215: [37.308594, 127.07823],
 84023059: [37.237835, 127.078064],
 84951083: [37.274902, 127.110565],
 84855061: [37.26227, 127.107254],
 84983213: [37.334396, 127.11139],
 83911159: [37.279736, 127.07388],
 84663224: [37.330303, 127.10012],
 84295209: [37.313133, 127.087234],
 86502905: [37.238564, 127.165436],
 85607164: [37.32996, 127.13342],
 85511126: [37.31012, 127.130135],
 84839070: [37.265877, 127.10667],
 87286856: [37.23864, 127.193054],
 85319195: [37.33579, 127.12324],
 84839042: [37.253258, 127.106735],
 85591031: [37.269566, 127.133156],
 84423208: [37.316303, 127.091736],
 86087031: [37.283592, 127.15057],
 84663200: [37.31949, 127.10018],
 88150688: [37.187336, 127.22369],
 86439011: [37.284527, 127.16298],
 86135034: [37.2863, 127.15225],
 85207063: [37.27313, 127.1196],
 86407005: [37.28092, 127.161865],
 86902888: [37.24221, 127.17951],
 87830885: [37.267082, 127.21211],
 84855109: [37.283905, 127.10714],
 84007130: [37.269382, 127.077324],
 83447312: [37.33556, 127.0572],
 84231193: [37.30411, 127.08503],
 84231202: [37.308167, 127.08501],
 84583178: [37.30731, 127.09743],
 84119211: [37.309055, 127.081055],
 84183241: [37.324387, 127.08322],
 87110832: [37.222847, 127.18692],
 86886885: [37.240406, 127.178955],
 87606897: [37.26616, 127.20422],
 86007034: [37.28268, 127.14776],
 88502823: [37.25812, 127.23583],
 84679218: [37.328053, 127.1007],
 84359220: [37.3199, 127.089455],
 86630899: [37.23948, 127.169945],
 87846886: [37.267982, 127.21268],
 83959239: [37.317146, 127.07536],
 86486904: [37.23766, 127.16488],
 86038991: [37.264206, 127.14897],
 86279004: [37.27685, 127.15737],
 85223179: [37.325863, 127.1199],
 83927195: [37.296413, 127.074356],
 84935018: [37.245155, 127.11016],
 88102863: [37.26485, 127.22171],
 85111071: [37.27402, 127.11621],
 83895143: [37.27207, 127.073364],
 84151220: [37.31402, 127.08215],
 85431110: [37.300648, 127.12736],
 88086802: [37.236904, 127.22125],
 84967132: [37.29744, 127.111015],
 85607080: [37.292103, 127.133606],
 87286843: [37.23278, 127.193085],
 84391214: [37.318104, 127.09059],
 84679093: [37.271717, 127.101],
 83863250: [37.31939, 127.07197],
 85750993: [37.256966, 127.138855],
 87302844: [37.233685, 127.19364],
 86934726: [37.1701, 127.18095],
 84679103: [37.276222, 127.100975],
 84967113: [37.288876, 127.11106],
 85735036: [37.27589, 127.1382],
 87398844: [37.236397, 127.197014],
 90022687: [37.23975, 127.28945],
 86406958: [37.25974, 127.16196],
 85031121: [37.294292, 127.11329],
 83767153: [37.272957, 127.06885],
 85975032: [37.280876, 127.14664],
 86119001: [37.270973, 127.15176],
 89062988: [37.348305, 127.25527],
 84999164: [37.312767, 127.11207],
 85159184: [37.326305, 127.11764],
 86359018: [37.285423, 127.16015],
 88182860: [37.26576, 127.224525],
 83799274: [37.328396, 127.06966],
 85543146: [37.320038, 127.13122],
 85991031: [37.280876, 127.1472],
 87814806: [37.23102, 127.211685],
 85159191: [37.32946, 127.11762],
 89078910: [37.313602, 127.25595],
 85975042: [37.28538, 127.146614],
 83943220: [37.308132, 127.07485],
 87255071: [37.334633, 127.191536],
 86823117: [37.343155, 127.17626],
 86198990: [37.26828, 127.15459],
 85111024: [37.25284, 127.11632],
 85686675: [37.11183, 127.13729],
 84887081: [37.27219, 127.10833],
 84887154: [37.30509, 127.108154],
 88998965: [37.33613, 127.25306],
 84071257: [37.32843, 127.079254],
 84007230: [37.31445, 127.07707],
 90822566: [37.207798, 127.31771],
 84519185: [37.308655, 127.09516],
 83943080: [37.245037, 127.0752],
 84183129: [37.27391, 127.0835],
 85031108: [37.288433, 127.11332],
 84663099: [37.273968, 127.100426],
 87238858: [37.238182, 127.19137],
 87430848: [37.2391, 127.19813],
 85367148: [37.315964, 127.12503],
 85415043: [37.269997, 127.126945],
 84023238: [37.31851, 127.077614],
 84391016: [37.228867, 127.09108],
 83847243: [37.31578, 127.07142],
 84567163: [37.300095, 127.0969],
 86135056: [37.296215, 127.15221],
 86694893: [37.238583, 127.1722],
 84247079: [37.253185, 127.08587],
 84919160: [37.3087, 127.10927],
 85959026: [37.277718, 127.14609]}

In [25]:
df_all = pd.DataFrame(columns=["best_name", "hotel_name", "거리차이", "score"])

for i in range(0, len(best_2_dict)) :
    best_nm = list(best_2_dict.keys())[i]
    best_xy = list(best_2_dict.items())[i][1]

    for j in range(0, len(hotel_best_dict)) :
        hotel_best_nm = list(hotel_best_dict.keys())[j]
        hotel_best_xy = list(hotel_best_dict.items())[j][1]

        ## 최종 거리 계산 결과값
        result = haversine(best_xy, hotel_best_xy, unit='m')

        score = 0
        if result <= 200:
            score = 5
        elif 200 < result <= 400:
            score = 4
        elif 400 < result <= 600:
            score = 3
        elif 600 < result <= 800:
            score = 2
        elif 800 < result <= 1000:
            score = 1
        df_all = pd.concat([df_all, 
                        pd.DataFrame({'best_name':[best_nm],'hotel_name':[hotel_best_nm], '거리차이':[result], 'score':[score]})], ignore_index=True)
df_all

      best_name hotel_name          거리차이 score
0      84951062      오스카호텔   9163.635488     0
1      84951062      호텔 M7    738.424139     2
2      84951062   (주)더숨디앤씨   8962.272913     0
3      84951062        양지장  15743.596403     0
4      84951062     레미니스호텔   4452.403802     0
...         ...        ...           ...   ...
62680  85959026      기흥장여관   7493.889480     0
62681  85959026        에버힐   7006.363715     0
62682  85959026       아도니스   6936.407723     0
62683  85959026      대흥여인숙   3461.924254     0
62684  85959026      호텔스위스   6971.612822     0

[62685 rows x 4 columns]

In [26]:
df_all_2 = df_all.groupby('hotel_name')['score'].sum()
df_all_2 = df_all_2.reset_index()
df_all_2 = df_all_2.rename(columns = {'score' : '2_score'})
df_all_2

            hotel_name 2_score
0             (주)더숨디앤씨       2
1    (주)청송네트웍스(더트리니호텔)      22
2               G(지)호텔      51
3                   G7       5
4                  G모텔      46
..                 ...     ...
194              홍실여인숙       4
195              휘닉스모텔       9
196          힐(HILL)모텔       3
197               힐탑여관       0
198                힐호텔      51

[199 rows x 2 columns]

# Best 1점

In [27]:
best_1 = best[best['best_score'] == 1]
best_1.head()

       cell_id   cell_xcrd  cell_ycrd  overlap  person_cnt  best_score
1260  84935149  127.109856  37.304195        3      41.701           1
1261  91334485  127.335790  37.185740        2      41.688           1
1262  84471214  127.093410  37.320366        3      41.647           1
1263  85063020  127.114650  37.249676        2      41.630           1
1264  84839092  127.106610  37.275790        3      41.627           1

In [28]:
best_1 = best_1[['cell_id', 'cell_ycrd', 'cell_xcrd']]
best_1.head()

       cell_id  cell_ycrd   cell_xcrd
1260  84935149  37.304195  127.109856
1261  91334485  37.185740  127.335790
1262  84471214  37.320366  127.093410
1263  85063020  37.249676  127.114650
1264  84839092  37.275790  127.106610

In [29]:
best_1_dict = best_1.set_index(['cell_id']).T.to_dict('list')
best_1_dict

{84935149: [37.304195, 127.109856],
 91334485: [37.18574, 127.33579],
 84471214: [37.320366, 127.09341],
 85063020: [37.249676, 127.11465],
 84839092: [37.27579, 127.10661],
 86375006: [37.280464, 127.160736],
 83975200: [37.300022, 127.07603],
 85031178: [37.31998, 127.11316],
 84887093: [37.2776, 127.1083],
 85159120: [37.297462, 127.11778],
 83527306: [37.335117, 127.06002],
 84423246: [37.33343, 127.091644],
 84007231: [37.3149, 127.07707],
 84423219: [37.321262, 127.091705],
 85047195: [37.328094, 127.11368],
 85127079: [37.278076, 127.11675],
 90198668: [37.236156, 127.29566],
 86550912: [37.243076, 127.16711],
 84903214: [37.332584, 127.10858],
 85415174: [37.329037, 127.126656],
 84471236: [37.33028, 127.09335],
 86758714: [37.159718, 127.1748],
 89014966: [37.337032, 127.25362],
 84999198: [37.32809, 127.111984],
 84295283: [37.346485, 127.08705],
 90630483: [37.16497, 127.31106],
 83559278: [37.323406, 127.06122],
 88822977: [37.336567, 127.24685],
 85127165: [37.316837, 127.11656],
 85031157: [37.310516, 127.113205],
 87942872: [37.264385, 127.21607],
 85431043: [37.27045, 127.12751],
 84422994: [37.219856, 127.092255],
 90710617: [37.227623, 127.31372],
 84695226: [37.33211, 127.10124],
 90134655: [37.22849, 127.29343],
 84614992: [37.224384, 127.09899],
 84759066: [37.26181, 127.10387],
 83767208: [37.297745, 127.0687],
 84727039: [37.248737, 127.10281],
 88902939: [37.3217, 127.24972],
 85063072: [37.273113, 127.114525],
 85062973: [37.228493, 127.11475],
 84855028: [37.2474, 127.10733],
 85255057: [37.271782, 127.1213],
 84647099: [37.273514, 127.09986],
 85559162: [37.3277, 127.131744],
 84471230: [37.327576, 127.09337],
 84087229: [37.31626, 127.07989],
 87398965: [37.290928, 127.19679],
 88086875: [37.269806, 127.22113],
 85255071: [37.27809, 127.12127],
 86518906: [37.239468, 127.16599],
 84823092: [37.275337, 127.10606],
 86279014: [37.281357, 127.15735],
 87782925: [37.283752, 127.21036],
 84327245: [37.33026, 127.08827],
 87958816: [37.2396, 127.21673],
 87238922: [37.26703, 127.19125],
 85303105: [37.294773, 127.12288],
 83703275: [37.32613, 127.066284],
 85607120: [37.31013, 127.13352],
 84935186: [37.32087, 127.109764],
 84375202: [37.31224, 127.090065],
 84935141: [37.30059, 127.10987],
 88134826: [37.249077, 127.22289],
 84295219: [37.31764, 127.08721],
 85655029: [37.270473, 127.13541],
 84855202: [37.32582, 127.10692],
 87414848: [37.23865, 127.19757],
 83799090: [37.24547, 127.07013],
 87990868: [37.26394, 127.217766],
 85527044: [37.273617, 127.130875],
 87846808: [37.23283, 127.21281],
 85303197: [37.336235, 127.12267],
 83767207: [37.29729, 127.0687],
 85319057: [37.273594, 127.12355],
 85047162: [37.31322, 127.113754],
 85926998: [37.264194, 127.14502],
 84055199: [37.301838, 127.078835],
 84423116: [37.27484, 127.09196],
 84279006: [37.22119, 127.08717],
 84967093: [37.27986, 127.11111],
 84439124: [37.2789, 127.0925],
 84455205: [37.315857, 127.092865],
 88102870: [37.268005, 127.221695],
 85319121: [37.302437, 127.123405],
 84455261: [37.341095, 127.09273],
 85527059: [37.280376, 127.130844],
 84823040: [37.251904, 127.10618],
 90454459: [37.149185, 127.3049],
 87622725: [37.18909, 127.205086],
 84967163: [37.31141, 127.11095],
 85191065: [37.27358, 127.11903],
 84967146: [37.30375, 127.110985],
 84247127: [37.27482, 127.085754],
 84775017: [37.24018, 127.104546],
 84007225: [37.312195, 127.07709],
 86614714: [37.155647, 127.16975],
 85255107: [37.29432, 127.121185],
 87478831: [37.232796, 127.199844],
 84983208: [37.332146, 127.111404],
 88327043: [37.352303, 127.229294],
 87143099: [37.34409, 127.187546],
 83831072: [37.238262, 127.0713],
 87718739: [37.198116, 127.208435],
 84983083: [37.275806, 127.111694],
 84151222: [37.31492, 127.082146],
 84455256: [37.33884, 127.09274],
 83879248: [37.31894, 127.07253],
 83575284: [37.32656, 127.06177],
 84231082: [37.254086, 127.085304],
 84359009: [37.224804, 127.08997],
 84343218: [37.318546, 127.0889],
 83703277: [37.32703, 127.06628],
 84439222: [37.323067, 127.09226],
 87430856: [37.242706, 127.19811],
 84839110: [37.283905, 127.106575],
 88246902: [37.286495, 127.22671],
 84823051: [37.25686, 127.10615],
 86534944: [37.257046, 127.16648],
 84887020: [37.244698, 127.10847],
 84279223: [37.31899, 127.08664],
 85383121: [37.30425, 127.12565],
 86055059: [37.295307, 127.14939],
 92118406: [37.172253, 127.36342],
 84503205: [37.317215, 127.09455],
 84167078: [37.250473, 127.08307],
 84519241: [37.333893, 127.095024],
 84615218: [37.32624, 127.09845],
 84903020: [37.24515, 127.10903],
 84935084: [37.274902, 127.11001],
 83847202: [37.297302, 127.071526],
 88534792: [37.245056, 127.23701],
 85798979: [37.25201, 127.14057],
 86294709: [37.14435, 127.15853],
 84839072: [37.266777, 127.10667],
 85270992: [37.24294, 127.12201],
 87910924: [37.28692, 127.21486],
 87318843: [37.233685, 127.19421],
 87814815: [37.23508, 127.21167],
 84391226: [37.32351, 127.09057],
 84247263: [37.336113, 127.08542],
 85191122: [37.299267, 127.118904],
 86790713: [37.16017, 127.17592],
 84823039: [37.251453, 127.10618],
 86230995: [37.27144, 127.1557],
 85127035: [37.258247, 127.11686],
 84871221: [37.334835, 127.10744],
 86262709: [37.143444, 127.15741],
 85254688: [37.105476, 127.12213],
 84455220: [37.322617, 127.09283],
 84711103: [37.27713, 127.1021],
 86375012: [37.28317, 127.16073],
 83895221: [37.307224, 127.073166],
 84935096: [37.280308, 127.10998],
 86646714: [37.15655, 127.17087],
 84871084: [37.27309, 127.10776],
 86598941: [37.257504, 127.16873],
 84743019: [37.240177, 127.10342],
 86167017: [37.279545, 127.15341],
 85686984: [37.2511, 127.13663],
 87846839: [37.2468, 127.21275],
 84183196: [37.304104, 127.083336],
 86870708: [37.16018, 127.178734],
 87846906: [37.276997, 127.21264],
 88390869: [37.275692, 127.23182],
 89190715: [37.228878, 127.26017],
 86694897: [37.240387, 127.172195],
 85143187: [37.327206, 127.11707],
 87110860: [37.235466, 127.18687],
 85415116: [37.3029, 127.126785],
 84167241: [37.323933, 127.082664],
 88230831: [37.254044, 127.22626],
 85943030: [37.279068, 127.145515],
 84951200: [37.327633, 127.1103],
 87814808: [37.231926, 127.211685],
 85271107: [37.29477, 127.12175],
 87526609: [37.134098, 127.20193],
 85639114: [37.30833, 127.13466],
 84743038: [37.248737, 127.10337],
 92374406: [37.179474, 127.37242],
 85783027: [37.273193, 127.1399],
 84935085: [37.275352, 127.11],
 88022826: [37.245914, 127.21896],
 84903019: [37.2447, 127.10903],
 86758694: [37.150703, 127.174835],
 84327252: [37.333416, 127.08826],
 84551087: [37.265392, 127.09652],
 92230411: [37.177666, 127.367355],
 84375118: [37.274384, 127.09027],
 84839071: [37.266327, 127.10667],
 84551208: [37.319923, 127.09623],
 85495042: [37.27181, 127.12976],
 84999089: [37.278965, 127.112236],
 88246829: [37.253593, 127.22683],
 85078958: [37.222187, 127.11535],
 87510835: [37.235504, 127.20096],
 83863086: [37.245476, 127.07239],
 86455004: [37.281826, 127.16355],
 83799324: [37.35093, 127.06953],
 84727237: [37.337975, 127.10234],
 85687115: [37.31014, 127.136345],
 86727095: [37.33053, 127.17293],
 85959055: [37.29079, 127.14603],
 84855084: [37.27264, 127.10719],
 87814680: [37.174236, 127.21191],
 85719003: [37.260567, 127.13771],
 84055140: [37.275246, 127.07899],
 84103140: [37.276604, 127.080666],
 87222865: [37.240887, 127.190796],
 85431048: [37.272705, 127.1275],
 85207077: [37.279438, 127.11957],
 86790709: [37.158367, 127.17593],
 87350848: [37.236843, 127.19532],
 84951199: [37.327183, 127.1103],
 86678891: [37.23723, 127.171646],
 85143070: [37.274475, 127.11734],
 86982858: [37.23095, 127.18238],
 86918841: [37.221478, 127.18017],
 84055255: [37.327076, 127.0787],
 86087010: [37.274128, 127.15061],
 86439012: [37.28498, 127.16297],
 83863087: [37.245926, 127.07238],
 84934995: [37.23479, 127.110214],
 87991066: [37.353176, 127.21743],
 84327078: [37.254997, 127.088684],
 84775101: [37.278038, 127.10435],
 83927140: [37.271626, 127.07449],
 87942807: [37.235092, 127.21619],
 86054720: [37.14252, 127.15009],
 85063192: [37.327194, 127.11425],
 85079105: [37.288437, 127.11501],
 85415146: [37.316418, 127.12672],
 83911235: [37.313988, 127.07369],
 87942879: [37.26754, 127.216064],
 86198980: [37.26377, 127.15461],
 85079075: [37.274918, 127.11508],
 88886973: [37.33657, 127.24911],
 84167087: [37.254528, 127.083046],
 85767100: [37.30564, 127.13918],
 84854988: [37.22937, 127.10742],
 83751070: [37.235096, 127.0685],
 83607257: [37.3153, 127.06296],
 88310875: [37.276134, 127.229004],
 84711214: [37.327156, 127.10184],
 84823099: [37.278492, 127.10604],
 86087025: [37.280888, 127.15058],
 85207108: [37.29341, 127.1195],
 88918958: [37.330715, 127.25025],
 85159078: [37.278534, 127.11788],
 88934947: [37.32621, 127.25083],
 87062863: [37.235462, 127.18518],
 84215127: [37.273914, 127.08463],
 84023249: [37.323463, 127.07758],
 84039242: [37.320763, 127.07816],
 84935087: [37.276253, 127.11],
 85015191: [37.325386, 127.112564],
 86679116: [37.338634, 127.1712],
 85062964: [37.224438, 127.11478],
 84423096: [37.265827, 127.092],
 84231226: [37.318985, 127.084946],
 87174847: [37.23142, 127.18914],
 86279011: [37.280006, 127.15736],
 89334718: [37.2343, 127.26523],
 84471221: [37.32352, 127.09338],
 85814986: [37.25562, 127.14111],
 86199021: [37.28225, 127.154526],
 85879038: [37.280865, 127.14325],
 86662872: [37.228214, 127.17112],
 83751207: [37.29684, 127.068146],
 85399098: [37.294334, 127.12627],
 85207174: [37.323154, 127.11935],
 84887207: [37.32898, 127.10803],
 84535222: [37.325783, 127.095634],
 85367179: [37.329933, 127.12496],
 84039227: [37.314003, 127.0782],
 84167128: [37.273006, 127.08295],
 87654729: [37.1918, 127.20621],
 84471273: [37.346954, 127.09326],
 88950811: [37.265366, 127.251595],
 87782681: [37.173782, 127.21078],
 84055230: [37.315807, 127.07876],
 85175189: [37.32901, 127.118195],
 85303196: [37.335785, 127.12267],
 84823074: [37.267227, 127.106094],
 85495038: [37.270008, 127.12977],
 87510834: [37.235054, 127.200966],
 84263209: [37.31223, 127.08611],
 84407182: [37.304134, 127.09123],
 84887091: [37.2767, 127.10831],
 86150989: [37.26647, 127.15291],
 89222978: [37.348316, 127.26092],
 87238851: [37.235027, 127.19138],
 84871153: [37.304188, 127.1076],
 88470712: [37.20719, 127.23488],
 86183027: [37.284504, 127.15395],
 85047092: [37.281673, 127.113914],
 84791084: [37.27083, 127.10495],
 87318848: [37.23594, 127.1942],
 85703020: [37.267776, 127.13711],
 88102554: [37.125584, 127.22222],
 88902962: [37.332066, 127.24968],
 84935089: [37.277153, 127.10999],
 89670744: [37.2555, 127.277],
 91446406: [37.153294, 127.339806],
 85175069: [37.27493, 127.11846],
 87574826: [37.233257, 127.203224],
 84455094: [37.26583, 127.09313],
 84807070: [37.264973, 127.105545],
 87846891: [37.270237, 127.21267],
 85063093: [37.282578, 127.11448],
 87878672: [37.17244, 127.214165],
 87782734: [37.19767, 127.210686],
 85222959: [37.22671, 127.1204],
 86839118: [37.34406, 127.17683]}

In [30]:
df_all = pd.DataFrame(columns=["best_name", "hotel_name", "거리차이", "score"])

for i in range(0, len(best_1_dict)) :
    best_nm = list(best_1_dict.keys())[i]
    best_xy = list(best_1_dict.items())[i][1]

    for j in range(0, len(hotel_best_dict)) :
        hotel_best_nm = list(hotel_best_dict.keys())[j]
        hotel_best_xy = list(hotel_best_dict.items())[j][1]

        ## 최종 거리 계산 결과값
        result = haversine(best_xy, hotel_best_xy, unit='m')

        score = 0
        if result <= 200:
            score = 5
        elif 200 < result <= 400:
            score = 4
        elif 400 < result <= 600:
            score = 3
        elif 600 < result <= 800:
            score = 2
        elif 800 < result <= 1000:
            score = 1
        df_all = pd.concat([df_all, 
                        pd.DataFrame({'best_name':[best_nm],'hotel_name':[hotel_best_nm], '거리차이':[result], 'score':[score]})], ignore_index=True)
df_all

      best_name hotel_name          거리차이 score
0      84935149      오스카호텔  11524.834694     0
1      84935149      호텔 M7   3784.357406     0
2      84935149   (주)더숨디앤씨   8919.496100     0
3      84935149        양지장  17276.321278     0
4      84935149     레미니스호텔   8742.075511     0
...         ...        ...           ...   ...
62879  86839118      기흥장여관  15239.632559     0
62880  86839118        에버힐   6365.208883     0
62881  86839118       아도니스   6301.712208     0
62882  86839118      대흥여인숙  10073.195689     0
62883  86839118      호텔스위스   6371.028494     0

[62884 rows x 4 columns]

In [31]:
df_all_1 = df_all.groupby('hotel_name')['score'].sum()
df_all_1 = df_all_1.reset_index()
df_all_1 = df_all_1.rename(columns = {'score' : '1_score'})
df_all_1

            hotel_name 1_score
0             (주)더숨디앤씨       7
1    (주)청송네트웍스(더트리니호텔)      14
2               G(지)호텔      35
3                   G7       8
4                  G모텔      80
..                 ...     ...
194              홍실여인숙       6
195              휘닉스모텔      21
196          힐(HILL)모텔       8
197               힐탑여관       0
198                힐호텔      35

[199 rows x 2 columns]

# 모든 점수 concat

In [32]:
# concat
df_hotel_score = pd.concat([df_all_5, df_all_4['4_score'], df_all_3['3_score'], df_all_2['2_score'], df_all_1['1_score']], axis=1)
df_hotel_score

            hotel_name 5_score 4_score 3_score 2_score 1_score
0             (주)더숨디앤씨       4       2       2       2       7
1    (주)청송네트웍스(더트리니호텔)       5      16      11      22      14
2               G(지)호텔      26      36      43      51      35
3                   G7      13       5      14       5       8
4                  G모텔      20      34      28      46      80
..                 ...     ...     ...     ...     ...     ...
194              홍실여인숙      15       4      14       4       6
195              휘닉스모텔      24      12      30       9      21
196          힐(HILL)모텔       5       5      13       3       8
197               힐탑여관       0       0       0       0       0
198                힐호텔      26      38      46      51      35

[199 rows x 6 columns]

In [33]:
# total
df_hotel_score['Total'] = df_hotel_score['5_score']*5 + df_hotel_score['4_score']*4 + df_hotel_score['3_score']*3 + df_hotel_score['2_score']*2 + df_hotel_score['1_score']*1
df_hotel_score

            hotel_name 5_score 4_score 3_score 2_score 1_score Total
0             (주)더숨디앤씨       4       2       2       2       7    45
1    (주)청송네트웍스(더트리니호텔)       5      16      11      22      14   180
2               G(지)호텔      26      36      43      51      35   540
3                   G7      13       5      14       5       8   145
4                  G모텔      20      34      28      46      80   492
..                 ...     ...     ...     ...     ...     ...   ...
194              홍실여인숙      15       4      14       4       6   147
195              휘닉스모텔      24      12      30       9      21   297
196          힐(HILL)모텔       5       5      13       3       8    98
197               힐탑여관       0       0       0       0       0     0
198                힐호텔      26      38      46      51      35   557

[199 rows x 7 columns]

In [34]:
# 저장
df_hotel_score.to_csv('./res/숙박업체점수.csv')